<section class="content-header"></section>
<section class="content">
    <div class="jumbotron welcome-jumbotron">
        <h1>Bem-vindo</h1>
        <p>
            Ao sistema de controle de estoque!
        </p>
    </div>
</section>